@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
/*font-family: 'Nunito Sans', sans-serif;*/

body {
    background-color: black;
    height: auto;
    width: 1200px;
    

  }
  
h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}
  
h4 {
    font-family: 'Roboto', sans-serif;
}
  
h5 {
    font-family: 'Roboto', sans-serif;
}

  
p {
    font-family: 'Roboto', sans-serif;

}

.flex-container{
    display: flex;
    background-color: #27272A;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}

.flex-container div{
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}

footer{
    color: white;
    background-color: #27272A;
    text-align: left;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
}

.menu_lateral{
    
    overflow: auto;
    min-width: 100px;
    min-height: 250px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.menu_superior{
    min-width: 900px;
    color:white;
    height: 100px;
    font-family: 'Nunito Sans', sans-serif;
}