* {
	margin: 0;
	padding: 0;
}

body {
	background: #E9ECF4;
	font-family: 'Roboto', sans-serif;
}

/* Grid Layout structure (3 columns + 3 rows) */
.grid_container {
	max-width: 500px;
	margin: 10px auto;
	display: grid;
	grid-gap: 2px;
	grid-template-columns: auto auto auto; /*Columns amount + columns size*/
	grid-template-rows: repeat(3, auto); /*rows amount + rows size*/
	grid-template-areas: "header header header" /* columns and rows order */
						"sidebar_nav main main"
						 "footer footer footer";
}


/* Grid Layout Properties */
.grid_container > div,
.grid_container .header,
.grid_container .sidebar_nav ,
.grid_container .main,
.grid_container .footer {
	background: #27272A;
    color: white;
	padding: 20px;
	border-radius: 4px;
}

/* Header (Logo) */
.grid_container .header {
	grid-area: header;
	text-align: center;
}

/* Sidebar Menu */
.grid_container .sidebar_nav {
    grid-area: sidebar_nav;
	min-width: auto;
    min-height: 400px;
    text-align: left;
    text-transform: uppercase;
    	
}

/* Sidebar Menu: Usar Flex para alinear el meny de forma horizontal */
/* .grid_container .sidebar_nav ul li{
display: flex;
align-items: right;
justify-content: right;
} */


  /* Sidebar Menu: delete dots/bullets */
.grid_container .sidebar_nav li {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

/* Sidebar Menu: hover color */
.grid_container .sidebar_nav li:hover {
    color: #FBE201;
  }

  /* Sidebar Menu: Blockquots */
  .grid_container .sidebar_nav blockquote::before{
	content: open-quote;
  }

  .grid_container .sidebar_nav blockquote::after{
	content: close-quote;
  }

  .grid_container .sidebar_nav blockquote{
	quotes: "« " " »";	
  }


/* Main content */
.grid_container  .main {
	grid-area: main;
	text-align: justify;
}

/* Main image properties */
.grid_container  .main img {
	width: 70%;
	height: auto;
	display: block;
	padding: 50px;
}

/* Footer */
.grid_container .footer {
	grid-area: footer;
	text-align: center;
}

@media screen and (max-width: 480px){
	.grid_container {
		grid-template-areas: "header header header"
                             "sidebar_nav sidebar_nav sidebar_nav"
							 "main main main"
                            "footer footer footer";
	}
}